/* Variables */
:root {
  --navbar-height: 60px;
}

/* Root Styles */
html, body, #root, .app {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app {
  background-color: rgb(195, 167, 160);
}

/* Navbar Styles */
.navbar-container {
  background-color: #f9fafb;
}

.navbar-container .ui.menu {
  font-size: 20px;
  height: var(--navbar-height);
}

/* Page Container Styles */
.content-container {
  padding: 1em;
  height: calc(100% - var(--navbar-height));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.no-navbar-content-container {
  height: 100%; /* 100% of the viewport height */
}

.right-side-box {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255); /* For visual representation, you can change this */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  justify-content: center; /* Center content horizontally inside the box */
  align-items: center; /* Center content vertically inside the box */
  flex-direction: column; 
}

/* Overwrites */
.ui.container {
  margin: 0 !important;
}

.grid {
  height: 100%;
  width: 100%;
}

.p-inputgroup .p-button-outlined {
  border-color: #d1d5db;
}

.aligned-grid {
  margin: 0px !important;
}

.p-divider.p-divider-horizontal:before {
  border-top: 1px solid #c3c3c3;
}

.p-splitter .p-splitter-gutter,
.p-splitter .p-splitter-gutter-handle{
  background: #c3c3c3;
}

/* Hex Color Picker Styles */
.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.p-inputgroup-hexpicker {
  background-color: #fff;
  border-color: #d1d5db;
  border-left: none;
  border-right: none;
}

/* Not Found Page Styles */
.not-found-page {
  background-image: url('assets/background_banner.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.not-found-content {
  text-align: center;
  color: #fff;
  backdrop-filter: blur(10px);
  height: 100%;
  padding-right: 5%;
}

.button-huge-colored {
  color: #000;
  background-color: rgb(229,185,75);
  border-radius: 35px;
  border: none;
  padding: 15px 30px;
  font-size: 2em;
  width: 400px;
  height: 70px;
}
.button-huge-colored:hover {
  background-color: rgb(229,185,75);
}

/* Login Page Styles */
.login-page {
  height: 100%;
  width: 100%;  
  display: flex;
  justify-content: flex-end; /* Aligns flex-box to the right */
  background-image: url('assets/background_banner.png');
  background-size: cover;
  background-position: 10% center;
}

/* Screenshot Container Styles */

.screenshot-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.image-tools {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  border: 2px solid #c3c3c3;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.image-tools .zoom-button {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
}

.image-tools .reset-button {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
}

.image-tools .remove-button {
  margin: 0.25rem;
  margin-left: auto; 
}

.react-transform-wrapper {
  cursor: move;
  border: 2px solid #c3c3c3;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* Results Styles */

.results-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  padding: 1rem;
  min-width: min-content;
}

.delete-confirm .ui.primary.button {
  background-color: rgb(190, 0, 0);
}
.delete-confirm .ui.primary.button:hover {
  background-color: rgb(128, 0, 0);
}

/* Palette Styles */
.palette-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.palette-container div[class^='palette-color'], div[class*=' palette-color'] {
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  cursor: pointer;
}

.palette-container div[class^='palette-color-colormind'], div[class*=' palette-color-colormind'] {
  width: 50px;
  height: 50px;
}

.palette-container div[class^='palette-color-user'], div[class*=' palette-color-user'] {
  width: 75px;
  height: 75px;
}

.palette-button {
  width: 30px;
  height: 30px;
  margin: 0.5rem;
  padding: 0;
}

/* Suggested Palette Styles */
.suggested-palettes {
  min-height: 0;
  display: flex;
  flex-direction: column;
}

/* Contrast Styles */
.contrast-overall, .contrast-small, .contrast-large {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  height: 50px;
  width: 50%;
  border: 1px solid #c3c3c3;
}

.contrast-overall {
  width: 100%;
  margin-bottom: 0.25rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.contrast-small {
  width: 50%;
  margin-right: 0.125rem;
  border-bottom-left-radius: 4px;
  cursor: help;
}

.contrast-large {
  width: 50%;
  margin-left: 0.125rem;
  border-bottom-right-radius: 4px;
  cursor: help;
}

.contrast-overall.success,
.contrast-small.success,
.contrast-large.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.contrast-overall.warning,
.contrast-small.warning,
.contrast-large.warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.contrast-overall.danger,
.contrast-small.danger,
.contrast-large.danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.no-contrast-value {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  /* 0.5rem added for margin between contrast elements */
  height: calc(100px + 0.5rem);
  border: 1px solid #c3c3c3;
  border-radius: 4px;
}

/* AI Analysis Styles */
.analysis-result {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/* Versions List Styles */
.versions-list-page-container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  min-height: 0;
}

.versions-data-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.no-version-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
}

.versions-list-container {
  margin-left: 1em;
  width: 500px;
  transition: all 0.5s;
}

.versions-list-container.collapsed {
  width: 256px;
}

.versions-list-container.collapsed .versions-list-item .version-description.expanded {
  /* width: 0; */
  visibility: hidden !important;
}
.versions-list-container.collapsed .versions-list-item .version-description.collapsed {
  display: flex;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 0.5rem;
}

.versions-list-container .versions-list-item .version-description.expanded {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}
.versions-list-container .versions-list-item .version-description.collapsed {
  display: none;
}

.versions-list-container.collapsed .versions-list-item .image-thumbnail {
  margin-left: 1rem !important;
}

.versions-list-item {
  height: 100px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.versions-list-item:hover {
  background-color: rgba(0,0,0,.05) !important;
}
.versions-list-item.active {
  background-color: #c7c9ff !important;
}

.versions-list-item .image-thumbnail {
  height: 72px;
  min-width: 128px;
  width: 128px;
  margin-left: 8rem;
  border-radius: 5px;
  position: relative;
  border: 1px dashed rgba(34, 36, 38, .15);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin-left 0.5s;
}

.versions-list-item .image-thumbnail img,
.versions-list-item .image-thumbnail svg {
  max-width: 126px;
  max-height: 70px;
  border-radius: 5px;
}
.versions-list-item:hover .image-thumbnail img,
.versions-list-item:hover .image-thumbnail svg {
  opacity: 0.4;
  filter: blur(4px);
}

.versions-list-item .image-thumbnail .delete-element-button {
  display: none;
}
.versions-list-item:hover .image-thumbnail .delete-element-button {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
}