html, body, #root, .App {
  height: 100%;
  margin: 0;
}

.App {
  background-color: rgb(223, 223, 223);
  padding: 0;
}

.primaryContainer {
  display: flex;
}

.navbar-container {
  padding: 1.2em;
}

.navbar-container .ui.menu {
  font-size: 20px;
  background-color: rgb(154, 154, 154);
}