/* Root Styles */
html, body, #root, .App {
  height: 100%;
  margin: 0;
}

.App {
  background-color: rgb(195, 167, 160);
  /* padding: 0; */
}

.ui.container {
  margin: 0 !important;
}

.grid {
  height: 100%;
  width: 100%;
}

.alignedGrid {
  margin: 0px !important;
}

.landingPages {
  display: flex;
  justify-content: flex-end; /* Aligns flex-box to the right */
  height: 100vh; /* 100% of the viewport height */
  width: 100%;
}

.rightSideBox {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255); /* For visual representation, you can change this */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  justify-content: center; /* Center content horizontally inside the box */
  align-items: center; /* Center content vertically inside the box */
  flex-direction: column; 
}

.p-inputgroup .p-button-outlined {
  border-color: #d1d5db;
}

/* Hex Color Picker Styles */
.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.p-inputgroup-hexpicker {
  background-color: #fff;
  border-color: #d1d5db;
  border-left: none;
  border-right: none;
}

/* Navbar Styles */

.navbar-container {
  background-color: #f9fafb;
}

.navbar-container .ui.menu {
  font-size: 20px;
  background-color: #f9fafb;
  height: 60px;
}

.content-container {
  padding: 1em;
  height: calc(100% - 88px);
}

/* Screenshot Container Styles */

.screenshot-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center;     /* Centers content horizontally */
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
}

.screenshot-upload-container.uploaded {  
  justify-content: flex-start; /* Align to the top after upload */
  padding-top: 10px; /* Add some padding at the top */
  align-items: flex-start; /* Align content to the left */
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.p-fileupload-buttonbar {
  border: 1;
}


.browse-button .p-fileupload {
  border: 1px solid #000000; /* Apply a consistent border color */
  border-radius: 5px;  /* Ensure corners are rounded consistently */
  margin: 0;
}

.browse-button .p-fileupload-content {
  border-top: 1;  /* Remove borders */
  padding: 0;    /* Remove padding */
  justify-content: center;
  text-align: center; /* Center the text and content */
}


.browse-button .p-button {
  background-color: transparent;
  border: 1px;                   /* Remove any border around the button */
  color: #00ADEF;                 /* Set the text color */
  font-size: 16px;                /* Customize the font size */
  cursor: pointer;
}

.image-tools {
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  border: 2px solid #e5e7eb;
  border-bottom: 1;
  border-radius: 4px;
}

.image-tools .zoom-button {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
}

.image-tools .reset-button {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
}

.image-tools .remove-button {
  margin: 0.25rem;
  margin-left: auto; 
}

.react-transform-wrapper {
  border: none;
  max-width: 100%;   /* Ensure the uploaded image doesn't overflow horizontally */
  height: auto;
}

/* Results Styles */

.results-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  padding: 1rem;
  overflow-y: auto;
  min-width: min-content;
}

.palette-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.palette-container div[class^='palette-color'], div[class*=' palette-color'] {
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  cursor: pointer;
}

.palette-container div[class^='palette-color-colormind'], div[class*=' palette-color-colormind'] {
  width: 50px;
  height: 50px;
}

.palette-container div[class^='palette-color-user'], div[class*=' palette-color-user'] {
  width: 75px;
  height: 75px;
}

.palette-button {
  width: 30px;
  height: 30px;
  margin: 0.5rem;
  padding: 0;
}

.deleteConfirm .ui.primary.button {
  background-color: rgb(190, 0, 0);
}
.deleteConfirm .ui.primary.button:hover {
  background-color: rgb(128, 0, 0);
}
.contrast-color {
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.contrast-overall, .contrast-small, .contrast-large {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  height: 50px;
  width: 50%;
  border: 1px solid #c3c3c3;
}

.contrast-overall {
  width: 100%;
  margin-bottom: 0.25rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.contrast-small {
  width: 50%;
  margin-right: 0.125rem;
  border-bottom-left-radius: 4px;
  cursor: help;
}

.contrast-large {
  width: 50%;
  margin-left: 0.125rem;
  border-bottom-right-radius: 4px;
  cursor: help;
}

.no-contrast-value {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  /* 0.5rem added for margin between contrast elements */
  height: calc(100px + 0.5rem);
  border: 1px solid #c3c3c3;
  border-radius: 4px;
}
