html, body, #root, .App {
  height: 100%;
  margin: 0;
}

/* .App {
  background-color: rgb(223, 223, 223);
  padding: 0;
} */

.primaryContainer {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 !important;
}

.ui.container {
  margin: 0 !important;
}

.grid {
  height: 100%;
  width: 100%;
}

.landingPages {
  display: flex;
  justify-content: flex-end; /* Aligns flex-box to the right */
  height: 100vh; /* 100% of the viewport height */
  width: 100%;
}

.rightSideBox {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255); /* For visual representation, you can change this */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  justify-content: center; /* Center content horizontally inside the box */
  align-items: center; /* Center content vertically inside the box */
  flex-direction: column; 
}

.navbar-container {
  padding: 1em;
}

.navbar-container .ui.menu {
  font-size: 20px;
  background-color: #f9fafb;
  height: 60px;
}

.content-container {
  padding: 1em;
  height: calc(100% - 88px);
}

.screenshot-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.results-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.react-colorful {
  position: absolute !important;
  margin-left: 0.5rem;
}

.palette-container {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: center;
}

.palette-container div[class^='palette-color-'], div[class*=' palette-color-'] {
  width: 50px;
  height: 50px;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  cursor: pointer;
}

.palette-container div[class^='palette-color-user-'], div[class*=' palette-color-user-'] {
  width: 75px;
  height: 75px;
}

.palette-button {
  width: 30px;
  height: 30px;
  margin: 0.5rem;
  padding: 0;
}
